// includes bearcove base styles — useful for syntax highlighted
// code blocks, the video player, etc.
@use "@bearcove/home-base/base.scss" as bearcove;

// the rest is up to you!

@font-face {
    font-family: "IosevkaFtl";
    src: url("./fonts/IosevkaFTLNerdFont-Regular-subset.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IosevkaFtl";
    src: url("./fonts/IosevkaFTLNerdFont-Bold-subset.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PublicSans";
    src: url("./fonts/PublicSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PublicSans";
    src: url("./fonts/PublicSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PublicSans";
    src: url("./fonts/PublicSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PublicSans";
    src: url("./fonts/PublicSans-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
