{% import "macros.html" as macros %}

{% if mood is not defined %}
{% set mood = "neutral" %}
{% endif %}

<div class="dialog">
<div class="dialog-head" title="Cool bear says:">
    {{ get_media("/content/faces/cool-bear-" ~ mood ~ ".jxl").markup(width=42, height=42, alt="Cool bear") }}
</div>
<div class="dialog-text markup-container">
{{ body }}
</div>
</div>
